.heading {
    font-weight: bold;
    vertical-align: middle;
  }
  
  .tomato {
    color: tomato;
  }
  
  .gross-color {
    color: #a3c010;
  }
  
  .nice-color {
    color: #03bbbb;
  }

  #about-me {
    font-family: sans-serif;
  }
  button:hover {
    background-color: blue;
    color: black;
    border: 1px solid black;
  }  
  p:nth-child(2) {
    background: red;
  }