/* .container{
    padding: 10px;
    position: relative;
  }
  
  .head{
    height: 70px;
    width: 90%;
    right: 0;
    position: absolute;
    background-color: #a29bfe;
    display:inline-block;
  
  }
  
  .side-nav{
    height: 500px;;
    width: 10%;
    background-color: #6c5ce7;
    display: inline-block;
  }
  
  .main{
    position: absolute;
    display: inline-block;
    width: 100%;
  }
  
  .inner-content{
    position: absolute;
    top: 70px;
    height: 430px;
    width: 90%;
    background-color:red;
  } */

#container {
  height: 100vh;
  display: grid;
  /* grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  /* grid-template-areas: "h h h h h h" "s s m m m m" "s s m m m m" "s s m m m m" "s s f f f f"; */
  /* grid-template-areas:
    "h h h h h h"
    "s m m m m m"
    "s m m m m m"
    "s m m m m m"
    "s f f f f f"; */
  /* grid-template-areas:
    "h h h h h h"
    "s s m f f f"
    "s s m f f f"
    "s s m f f f"
    "s s m f f f"; */
  /* grid-template-areas:
    "h h s s f f"
    "h h s s f f"
    "h h s s f f"
    "h h m m f f"
    "h h m m f f"; */
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "s m"
    "f f";
  grid-gap: 10px;
}

.head {
  grid-area: h;
  background-color: #d59618;
}

.side-nav {
  grid-area: s;
  background-color: #dd6e13;

}

.main {
  grid-area: m;
  background-color: #13b9e8;
}

.foot {
  grid-area: f;
  background-color: #cb0d7f;
}